<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analysis Webpack</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return handleSubmit(event)">
          <input
            class="url-input"
            type="text"
            value=""
            placeholder="Article URL"
          />
          <button class="btn-analyze" value="Analyze">Analyze</button>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div class="analysis-results">
          <div class="analysis-results__agreement">
            <div>Agreement</div>
            <div class="analysis-results__agreement-value"></div>
          </div>
          <div class="analysis-results__confidence">
            <div>Confidence</div>
            <div class="analysis-results__confidence-value"></div>
          </div>
          <div class="analysis-results__irony">
            <div>Irony</div>
            <div class="analysis-results__irony-value"></div>
          </div>
          <div class="analysis-results__score_tag">
            <div>Score Tag</div>
            <div class="analysis-results__score_tag-value"></div>
          </div>
          <div class="analysis-results__subjectivity">
            <div>Subjectivity</div>
            <div class="analysis-results__subjectivity-value"></div>
          </div>
          <div class="analysis-results__text">
            <div>Text</div>
            <div class="analysis-results__text-value"></div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
