<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analysis Webpack</title>
  </head>

  <body>
    <header>
      <h1>Sentiment Analysis</h1>
      <h3>using Webpack</h3>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return handleSubmit(event)">
          Please Enter an article Url
          <input
            class="url-input"
            type="text"
            value=""
            placeholder="Article URL"
          />
          <button class="btn-analyze" value="Analyze">Analyze</button>
        </form>
        <div class="loading">Loading ...</div>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div class="analysis-results">
          <div class="analysis-results__agreement property">
            <div class="propertry-name">Agreement</div>
            <div class="analysis-results__agreement-value"></div>
          </div>
          <div class="analysis-results__confidence property">
            <div class="propertry-name">Confidence</div>
            <div class="analysis-results__confidence-value"></div>
          </div>
          <div class="analysis-results__irony property">
            <div class="propertry-name">Irony</div>
            <div class="analysis-results__irony-value"></div>
          </div>
          <div class="analysis-results__score_tag property">
            <div class="propertry-name">Score Tag</div>
            <div class="analysis-results__score_tag-value"></div>
          </div>
          <div class="analysis-results__subjectivity property">
            <div class="propertry-name">Subjectivity</div>
            <div class="analysis-results__subjectivity-value"></div>
          </div>
          <div class="analysis-results__text property">
            <div class="propertry-name">Text</div>
            <div class="analysis-results__text-value"></div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <a href="https://github.com/KhaledTaymour">Khaled Taymour</a>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
